{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p style="background-color: antiquewhite; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">
    <table cellpadding="10">
        <tr>
            <td>


   Данный магазин специализируется по продаже одежды. Здесь вы можете найти:<br />
                Детскую одежду;<br />
                Спортивную одежду;<br />
                Мужскую одежду;<br />
                Женскую одежду.<br />
                Также время от времени у нас действуют различные бонусы и акции.<br />
Бесплатная доставка на сумму от 5000 рублей и больше.<br /><br />

    Концерн tornado имеет всего две собственные фабрики, одну в Германии и одну в США. Почти вся продукция производится 80 независимыми компаниями-партнёрами, у которых в общей сложности 289 фабрик; из них 65 % находится в Азии, 18 % в Америке, 6 % в Африке и 11 % в Европе.
  <br /><br /><br /><br />
                Принципы работы нашего интернет магазина одежды: безупречный сервис и гарантия выполнения обязательств возложенных на нас.
Расширяя свой ассортимент, мы даем Вам возможность постоянно сотрудничать с нами.
Постоянное обновление сайта позволяет Вам видеть точное количество товара на нашем складе.
На сайте представлена крупные фотографии товара в основных ракурсах и полная информация, позволяющая Вам быть уверенными в своей покупке.

</p>
            
        </td></tr></table>

{% endblock %}
