{% extends "app/layout.html" %}
{% load staticfiles %}
{% block content %}

<div class="jumbotron">
    <p style="background-color: gainsboro; margin: 50px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; border: groove">

  <table border="3"; cellpadding="10" bordercolor="white">
   
   <td><p class="lead"><center><p>В жизни каждого человека наступает момент, когда нужно меняться. Когда просто необходим глаток свежих взглядов и идей. Свежие образы и красочные стили принесёт наш "Торнадо"!</p></center>
<p><strong>Магазин «Торнадо» предлагает одежду любых размеров для любого возраста. «Торнадо» является уникальной торговой площадкой с широким ассортиментом от производителей из разных стран. В магазине собраны модели от известных дизайнеров Турции, России и Беларуси. Магазин «Торнадо» позволяет любому желающему получить товар по доступным ценам. Спешите оформить заказ, и менеджеры мигом доставят его вам. Для постоянных клиентов действует система скидок</strong></p></br>
<center><img src="{% static 'app/content/123.png' %}" height="200" width="700"</center> </br>
</br>
<p><strong>Привлекайте взгляды окружающий, сияйте яркими образами, удивляйте модными брендами. Торнадо - одевайся как надо!</strong></p>
<p><center>По вопросам сотрудничества: <a href="https://vk.com/id119210508">https://vk.com/id119210508</a></center><br>
<center>Группа Вконтакте:<a href="https://vk.com/id119210508">https://vk.com/id119210508</a></center><br />
<center>Фейскбук:<a href="https://vk.com/id119210508">https://vk.com/id119210508</a></center>

</p></td>
 
</div></tr></table>

<div class="row">
    <div class="col-md-4">
        <h3>Джинсовка Spyke</h3>
        <p><img src="{% static 'app/image/other/1.png' %}" height="470" width="300" /></p>
    </div>
    <div class="col-md-4">
        <h3>Спортивка GoodSpace</h3>
       <p><img src="{% static 'app/image/other/2.png' %}" height="470" width="300" /></p>
       
    </div>
    <div class="col-md-4">
        <h3>Худи NightPower</h3>
       <p><img src="{% static 'app/image/other/3.png' %}" height="470" width="300" /></p>
       
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Ветровка Inspect</h2>
          <p><img src="{% static 'app/image/other/4.png' %}" height="470" width="300" /></p>
    </div>
    <div class="col-md-4">
        <h2>Куртка Orange</h2>
         <p><img src="{% static 'app/image/other/5.png' %}" height="470" width="300" /></p>
    </div>
    <div class="col-md-4">
         <h2>Спортивка Originaly</h2>
     <p><img src="{% static 'app/image/other/6.png' %}" height="470" width="300" /></p>
    </div>
    <div class="col-md-4">
        <h2>Бобмер HeavyGreen</h2>
            <img src="{% static 'app/image/other/7.png' %}" height="470" width="300" />    </div>
      <div class="col-md-4">
        <h2>Платье SweetSummer</h2>
         <p><img src="{% static 'app/image/other/8.png' %}" height="470" width="300" /></p>
    </div>
      <div class="col-md-4">
        <h2>Кожанка PrettyY</h2>
            <img src="{% static 'app/image/other/9.png' %}" height="470" width="300" />  
      </div> </div>

<div class="row">
          <div class="col-md-4">
        <h2>Кофта BlueHills</h2>
            <img src="{% static 'app/image/other/10.png' %}" height="470" width="300" />  
      </div>
          <div class="col-md-4">
        <h2>Футболка PieLove</h2>
            <img src="{% static 'app/image/other/11.png' %}" height="470" width="300" />  
      </div>
          <div class="col-md-4">
        <h2>Худи KidBoy</h2>
            <img src="{% static 'app/image/other/12.png' %}" height="470" width="300" />  
      </div>
          <div class="col-md-4">
        <h2>Футболка ChilldrenGO</h2>
            <img src="{% static 'app/image/other/13.png' %}" height="470" width="300" />  
      </div>
          <div class="col-md-4">
        <h2>Платье GirlsHQ</h2>
            <img src="{% static 'app/image/other/14.png' %}" height="470" width="300" />  
      </div>
          <div class="col-md-4">
        <h2>Сарафан Branberry</h2>
            <img src="{% static 'app/image/other/15.png' %}" height="470" width="300" />  
      </div>
    </p>
</div>

{% endblock %}

